#up{
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #3131ab;
    padding: 0px 11px;
    border-radius: 50%;
}